@tailwind base;
@tailwind components;
@tailwind utilities;


*
{
    font-family: 'Poppins';
}
.logo
{
    font-family:'Rammetto One';
}


.NavMenus , .heroHeader
{
    font-family: 'Akronim', cursive;
}
 
.heroText , span
{
    font-family: 'Shadows Into Light Two', cursive;
}


.App
{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y:scroll ;
}